<!--Begin Nav Activate-->
<div id="nav-activate">
        <!--Begin sidebar Control-->
        <div id="side-activate">
                <!-- SIDEBAR -->

                <div class="sidebar">
                    <div class="brand">
                        <a href="index.html"><img src="app/assets/img/logo.png" alt="Powerstove Logo" class="img-responsive logo"></a>
                    </div>
                    <div class="sidebar-scroll">
                        <nav>
                            <ul class="nav">
                                <li><a href="#" class="active" data-navigo id="home"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                                <li><a href="#user/profile/update" class="" data-navigo id="update-profile"><i class="lnr lnr-code"></i> <span>Update profile</span></a></li>
                                <!--<li><a href="#login" class="" data-navigo id="login"><i class="lnr lnr-cog"></i> <span>Login</span></a></li>-->
                                <li><a href="#user/profile/users/signup" class="" data-navigo id="signup"><i class="lnr lnr-alarm"></i> <span id="register-nav">Register User</span></a></li>
                                <li>
                                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                                    <div id="subPages" class="collapse ">
                                        <ul class="nav">
                                            <li><a href="#user/profile" data-navigo class="" id="profile"></i class="lnr lnr-padlock"></i> <span>Profile</span></a></li>
                                            <li><a href="#user/profile/lock-screen" class="" data-navigo id="lock-screen" ></i class="lnr lnr-padlock"></i> <span>Lockscreen</span></a></li>
                                            <li><a href="#auth/login" data-navigo class="" id="logout"><i class="lnr lnr-chart-bars"></i> <span>Logout</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <a class="footer" href="http://twitter.com/share?url=https://goo.gl/1dt1MR&amp;text=So cool! Free Bootstrap dashboard template by @thedevelovers. Download at&amp;hashtags=free,bootstrap,dashboard" title="Twitter share" target="_blank"><i class="fa fa-twitter"></i> <span>SHARE POWERSTOVE</span></a>
                </div>
            <!-- END SIDEBAR -->
            </div>
            <!--End Sidebar control-->

    <!--Begin Main-->
    <div class="main">
            <!-- NAVBAR -->
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" id="btn-toggle-fullwidth" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="fa fa-bars icon-nav"></i>
                    </button>
                </div>
                <div id="navbar-menu" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                            <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Your new account is created</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have linked a stove successfully</a></li>
                                <li><a href="#" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Basic Use</a></li>
                                <li><a href="#">Working With Data</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Troubleshooting</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="useravatar" src="app/assets/img/user.png" class="img-circle" alt="Avatar"> <span id="username">Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#user/profile"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="#user/profile/update"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                                <li><a href="#auth/login"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!--End Nav control-->
        <div class="main-content">
            <!--Main Content will be injected here-->
            <div id="content">
        
            </div><br>
            
    <footer>
            <div class="container-fluid">
                <p class="copyright"><div>&copy; 2016. </div> <a href="https://www.powerstove.com.ng">Powerstove Energy</a></p>
            </div>
        </footer>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    <!--End Main-->
</div>
