<div class="main-content">
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div id="overview-heading" class="panel-heading">
                <h3 class="panel-title">Account Overview</h3>
                <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="stove-usage" class="metric">
                            <span class="icon"><i class="fa fa-download"></i></span>
                            <p>
                                <span class="number">252</span>
                                <span class="title">Stove Usage</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="payment-history" class="metric">
                            <span class="icon"><i class="fa fa-shopping-bag"></i></span>
                            <p>
                                <span class="number">203</span>
                                <span class="title">Payments</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div id="headline-chart" class="ct-chart"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="weekly-summary text-right">
                            <span class="number">2,315</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>
                            <span class="info-label">Fuel Efficiency</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OVERVIEW -->
    </div>
</div>

<script>
    router.updatePageLinks();
</script>