	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box lockscreen clearfix">
					<div class="content">
						<h1 class="sr-only">Klorofil - Free Bootstrap dashboard</h1>
						<div class="logo text-center"><img src="app/assets/img/logo-dark.png" alt="Klorofil Logo"></div>
						<div class="user text-center">
							<img src="app/assets/img/user-medium.png" class="img-circle" alt="Avatar">
							<h2 class="name">Samuel Gold</h2>
						</div>
						<form class="form-auth" id="lockscreen_form">
							<div class="input-group">
								<input type="password" class="form-control" id="unlock-password" name="password" placeholder="Enter your password ...">
								<span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></span>
                            </div>
                            <div class="bottom">
                                <span><i class="fa fa-lock"></i> <a href="#forgot-password">Forgot password?</a></span>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->